@model OnlineShop.Models.SpecialTag
@{
    ViewData["Title"] = "Delete";
}

<br />
<h2 class="text-info">Delete SpecialTag<i class="bi bi-trash3-fill"></i></h2>

<form asp-action="Delete"method="post">
    <div class="p-4 rounded border">
        <input type="hidden"asp-for="Id" />
        <div asp-validation-summary="ModelOnly"class=" text-danger">

        </div>
        <div   class=" form-group row">
            <div class=" col-2">
                <label asp-for="Name"></label>

            </div>
            <div class=" col-5">
                <input asp-for="Name" readonly="readonly"class="form-control" />

            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class=" btn btn-outline-danger "><i class="bi bi-trash"></i>Delete</button>
            @*<input type="submit"class=" btn btn-primary " value="Save" />*@
            <a asp-action="Index" class="btn btn-outline-success">Back to List <i class="bi bi-backspace"></i></a>
               
                
                
        </div>

    </div>
</form>
@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


    
